/** Disable Favicon White Grow */
.theme-dark .tab-position .tab.active .tab-header .favicon {
  filter: none !important;
}

/** Tab Positions */
#browser #tabs-tabbar-container {
  height: inherit !important;
}

#browser :is(#tabs-container, #tabs-subcontainer) {
  min-height: inherit;
  height: auto;
}

#browser #tabs-container div.resize > div {
  padding-bottom: .4rem;
}
#browser #tabs-subcontainer > div {
  padding: .3rem 0;
}


#browser div.tab-strip {
  display: inline-flex;
  width: auto;
}

#browser .tab-position:has(.tab:not(.pinned)) {
  max-width: inherit;
  max-height: inherit;
  height: inherit;
  padding: 0 .3rem 0 .3rem;
}

#browser .tab-position:has(.tab.pinned) {
  max-width: inherit;
  max-height: inherit;
  height: inherit;
  padding: 0;
}

/** Tab Stack */
.svg-tab-stack { display: none; }
#browser .tab-position.is-substack > div {
  border-bottom: 2px solid #70acff;
  margin-bottom: -2px;
}

/** Tab Colors */
#browser .tab:not(.active) span.title {
  opacity: 0.7;
}
#browser .tab.active span.title {
  color: white;
}

/** Tab Scale */
#browser .tab.active {
  transition: .4s cubic-bezier(0,.8,.2,1) all;
  transform: scale(1.05);
}

/**Popup */
#browser.popup :is(#tabs-tabbar-container, #main .bookmark-bar, #panels-container, div.mainbar .toolbar > *:not(.UrlBar-AddressField)) {
  display: none;
}

/** Tab Progressbar */
#browser .UrlBar-AddressField .pageload .pageload-indicator {
  background-color: white;
}


