/** Disable Favicon White Grow */
.theme-dark .tab-position .tab.active .tab-header .favicon {
  filter: none !important;
}


/** Tabbar effect */
#browser .tab {
  margin: .2rem 0;
}

#browser :is(#tabs-tabbar-container, #tabs-container, .tab-position, #tabs-subcontainer) {
  min-height: inherit !important;
  height: inherit !important;
}

#browser .tab:not(.active) .svg-tab-stack {
  height: calc(var(--Height) - 0.1rem);
}


#browser .tab.active .svg-tab-stack {
  height: calc(var(--Height) - 0.4rem);
}

#browser .button-toolbar.newtab {
  top: 4px !important;
}

/** Tab Colors */
#browser .tab:not(.active) span.title {
  opacity: 0.7;
}
#browser .tab.active span.title {
  color: white;
}

/** Tab Scale */
#browser .tab {
  transition: .4s cubic-bezier(0,.8,.2,1) all;
}

#browser .tab:not(.active) {
  transform: scale(0.95);
}

/**Popup */
#browser.popup :is(#tabs-tabbar-container, #main .bookmark-bar, #panels-container, div.mainbar .toolbar > *:not(.UrlBar-AddressField)) {
  display: none;
}
